<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styleTelaPrincipal.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <title>Excelência Cursos</title>
</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span>Excelência </span>Cursos Online</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="col-xs-12 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">
                        <em class="fa fa-home"></em>
                    </a></li>
                <li class="active"><a href="/">Home</a></li>
                <li>
                    <a href="/privacy">Politicas de privacidade</a>
                </li>
            </ol>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default chat">
                    <div class="panel-heading">
                        <a href="https://go.hotmart.com/Y23701108O?dp=1" class="" target="_blank">Dieta de 17
                            Dias</a>
                        <span class="pull-right clickable panel-toggle "><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <ul>
                            <li class="left clearfix">
                                <div class="col-xs-12 col-sm-3" style="justify-content: center;">
                                    <span class="chat-img pull-left grow">
                                        <a href="https://go.hotmart.com/Y23701108O?dp=1" rel="nofollow" target="_blank">
                                            <img src="https://uploaddeimagens.com.br/images/001/767/471/full/banner.jpg?1544197035"
                                                border="0" alt="User Avatar" class="img-thumbnail" width="300"
                                                height="300" />
                                    </span>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <p align="justify"><strong>A Dieta de 17 Dias</strong>, é um
                                        e-book completo para
                                        você aprender do <strong>ZERO</strong> a como
                                        emagrecer de forma saudável e rápida em apenas 17 dias! Mesmo que você não tenha
                                        muito tempo disponível e não saiba nada sobre alimentação saudável ou perda de
                                        peso, conta com Grupo VIP no Facebook e Lista de Transmissão Vip Diária no
                                        WhatsApp com instruções especias do desafio pela coach, mais de 250 receitas
                                        lowcarb & detox, exercícios, áudios para combater crises de ansiedade e
                                        compulsão alimentar e uma comunidade de pessoas motivadas a perderem peso de
                                        forma saudável e sem sofrer
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default chat">
                    <div class="panel-heading">
                        <a href="https://go.hotmart.com/P39572948U" target="_blank">Dieta Low Carb</a>
                        <span class="pull-right clickable panel-toggle "><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <ul>
                            <li class="left clearfix">
                                <div class="col-xs-12 col-sm-3" style="justify-content: center;">
                                    <span class="chat-img pull-left grow">
                                        <a href="https://go.hotmart.com/P39572948U" rel="nofollow" target="_blank">
                                            <img src="https://static-media.hotmart.com/KEk1oxFTUxuGqSDcCyb4nwQhXYo=/filters:background_color(white)/hotmart/product_pictures/7da983e4-3513-45b6-9bce-79592e4d8462/LOGO.png"
                                                border="0" alt="User Avatar" class="img-thumbnail" width="280"
                                                height="300" />
                                    </span>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <p align="justify">A <strong>Dieta Low Carb</strong>, tem como ideia central
                                        a redução do carboidrato de alto índice glicêmico, dando a preferência aos
                                        alimentos que apresentam baixo índice glicêmico, ou seja, alimentos cujo açúcar
                                        é absorvido mais lentamente. Assim, o corpo é obrigado a usar a gordura como
                                        fonte de energia, o que acarreta no <strong>emagrecimento
                                            saudável.</strong></br>
                                        Desde 2004, foram publicadas mais de 20 pesquisas que mostram a eficácia da
                                        redução do carboidrato na alimentação para emagrecer.
                                        Cada vez mais pesquisas comprovam que a Dieta Low Carb emagrece de forma
                                        saudável e melhora os índices de glicose, colesterol, triglicérides e outros
                                        marcadores da Saúde.
                                    </p>

                                    <div>
                                        <p><i class="fa fa-check text-success"></i><strong> Receitas práticas e fáceis
                                                para você fazer em casa</strong></p>
                                    </div>
                                    <div>
                                        <p><i class="fa fa-check text-success"></i><strong> Mesmo que você não tenha
                                                muito tempo ou não saiba nada sobre alimentação saudável</strong></p>
                                    </div>
                                    <div>
                                        <p><i class="fa fa-check text-success"></i><strong> Opções deliciosas para você
                                                não ficar comendo a mesma coisa todos os dias</stronh>
                                        </p>
                                    </div>
                                    <div>
                                        <p><i class="fa fa-check text-success"></i><strong> Receitas fitness que
                                                potencializam o seu emagrecimento</strong></p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.col-->
            <div class="col-xs-12">
                <p class="back-link">Lucas Berlanda</p>
            </div>
            <div class="col-xs-12">
                <p class="back-link">
                    <a href="https://www.facebook.com/lucas.berlandinha" target="_blank">Facebook</a>
                </p>
                <p class="back-link">
                    <a href=" https://api.whatsapp.com/send?phone=5549999375435&text=Ol%C3%A1%2C%20acessei%20sua%20p%C3%A1gina.%20Preciso%20tirar%20algumas%20d%C3%BAvidas..."
                        target="_blank">Whatsapp</a>
                </p>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.main-->


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/chart.min.js"></script>
<script src="/js/chart-data.js"></script>
<script src="/js/easypiechart.js"></script>
<script src="/js/easypiechart-data.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/custom.js"></script>


</html>